<template>
  <footer>
    <p>Data from MET Norway</p>
    <p>
      Created by Jeff Temes.
      <a
        href="https://gitlab.com/fleetfoot/auro-weather"
        target="_blank"
      >View Source Code</a>
    </p>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
footer {
  flex-shrink: 0;
  font-size: 10px;
  text-align: center;
  color: #adadad;

  a {
    color: #adadad;

    &:hover {
      color: #1f1f1f;
    }
  }
}
</style>
