<template>
  <div
    class="header"
    :class="{ 'primaryView': primaryView, 'push-up': pushHeaderUp, 'data-view': dataView }"
  >
    <h1>Hi Clouds</h1>
    <img class="main-logo" src="../assets/hiclouds-logo.svg" alt="Hi Clouds Logo">

    <div class="type-ahead">
      <input
        type="text"
        placeholder="Search for a location..."
        v-model="query"
        @input="onChange"
        @input.once="pushHeaderUp = true"
        @keyup.down="onArrowDown"
        @keyup.up="onArrowUp"
        @keyup.enter="onEnter"
        autocorrect="off"
        autofocus
      >
      
      <i class="search-icon"></i>

      <ul class="type-ahead-results" v-show="isOpen">
        <li
          class="type-ahead-result"
          v-for="(location, i) of locations"
          :key="i"
          @click="setLocation(location)"
          :class="{ 'is-active': i === arrowCounter }"
        >
          <p class="place-name">{{ location.placeName }}</p>
          <p class="place-details">
            <span class="municipality">{{ location.municipality }}</span>
            <span class="countyName">{{ location.countyName }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import LocationService from "../services/LocationService";

export default {
  data() {
    return {
      query: "",
      locations: [],
      isOpen: false,
      primaryView: true,
      dataView: false,
      pushHeaderUp: false,
      arrowCounter: -1
    };
  },

  methods: {
    onChange() {
      const getLocations = new LocationService(this.query);
      const locations = getLocations.queriedLocations;

      this.locations = [];
      this.locations = locations;

      this.isOpen = true;
    },

    setLocation(location) {
      this.$emit("getLocation", location);

      this.query = "";
      this.isOpen = false;
      this.dataView = true;

      this.pushHeaderUp = false;
      this.primaryView = false;
    },

    onArrowDown() {
      if (this.arrowCounter < this.locations.length - 1) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onEnter() {
      const location = this.locations[this.arrowCounter];
      this.setLocation(location);

      this.arrowCounter = -1;
    }
  }
};
</script>

<style lang="scss">
@import "../sass/mixins";

.header {
  z-index: 2;
}

.primaryView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;

  .main-logo {
    padding-bottom: 20px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    transition: all 0.4s ease-in-out;
  }

  .type-ahead {
    position: absolute;
  }
}

.push-up {
  top: 40px;
  transition: top 0.5s ease-in-out;

  @include desktop {
    top: 100px;
  }

  .main-logo {
    height: 25px;
    padding-bottom: 0;

    @include desktop {
      padding-bottom: 20px;
      height: 70px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -100%);
      transition: all 0.4s ease-in-out;
    }
  }

  .type-ahead {
    top: 10px;

    @include desktop {
      top: 50%;
    }
  }
}

h1 {
  content: none;
  display: block;
  background-size: contain;
  height: 0;
  text-indent: -20000px;
}

.type-ahead {
  text-align: center;
  font-size: 17px;
  width: 256px;
  transition: all 1s ease-in-out;
  position: relative;
  z-index: 100;

  input {
    font-size: 17px;
    padding: 13px 15px;
    border-radius: 2px;
    box-shadow: none;
    width: 100%;
    border: 0.5px solid #adadad;
    background: #fff;

    &::placeholder {
      color: #7e7e7e;
    }

    &:focus {
      outline: none;
      border: 0.5px solid #4aae9b;
    }
  }

  .search-icon {
    background-image: url("../assets/search.svg");
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 12px;
  }
}

.type-ahead-results {
  padding: 0;
  margin: 0;
  max-height: 500px;
  overflow: auto;
  background: white;
  position: absolute;
  width: 100%;
}

.type-ahead-result {
  list-style: none;
  text-align: left;
  cursor: pointer;
  border-bottom: 0.5px solid #adadad;
  border-left: 0.5px solid #adadad;
  border-right: 0.5px solid #adadad;
  background-color: #f8f8f8;
  padding: 5px 8px;
  font-size: 15px;
  transition: color 0.3s, background-color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  @include desktop {
    padding: 15px 10px;
  }

  &:hover {
    background-color: #4aae9b;
    color: white;

    .place-details {
      color: white;
    }
  }

  .place-name {
    font-weight: bold;
  }

  .place-details {
    display: flex;
    padding-top: 0.2rem;
    font-size: 12px;
    color: #4a4a4a;

    @include desktop {
      padding-top: 0.5rem;
    }

    .municipality {
      flex: 1;
    }
  }
}

.is-active {
  background-color: #4aae9b;
  color: white;
}

.data-view {
  width: 256px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 30px;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
  }

  .main-logo {
    height: 25px;
    margin-top: 15px;

    @include desktop {
      margin-bottom: 20px;
      margin-top: 30px;
      height: 50px;
    }
  }

  .type-ahead {
    top: 10px;
    @include desktop {
      top: 50%;
    }
  }
}
</style>
