<template>
  <div v-if="showRecentSearches" class="location-buttons-wrapper">
    <h3>Recent Searches</h3>
    <ul class="location-buttons">
      <li v-for="(location, key) in recentSearches" :key="key">
        <button @click="setLocation(location)" :value="location.placeName">{{ location.placeName }}</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recentSearches: [],
      showRecentSearches: false
    };
  },
  props: ["location"],
  watch: {
    location() {
      if (location) {
        this.showRecentSearches = true;
      }
      // check if duplicate
      var duplicate = this.recentSearches.some(
        duplicate => duplicate.placeName === this.location.placeName
      );
      if (!duplicate) {
        if (this.recentSearches.length < 10) {
          this.recentSearches.push(this.location);
        } else {
          this.recentSearches.shift();
          this.recentSearches.push(this.location);
        }
      }
    }
  },
  methods: {
    setLocation(location) {
      this.$emit("getLocation", location);
    }
  }
};
</script>

<style lang="scss" scoped>
.location-buttons-wrapper {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 436px;

  @media (min-width: 468px) {
    padding: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: #adadad;
  }
}

.location-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background: #f6f6f6;
  padding: 8px 10px;

  li {
    display: inline-block;
    margin: 5px;

    button {
      background: #fff;
      border: 1px solid #454545;
      color: #454545;
      box-shadow: none;
      cursor: pointer;
      font-size: 14px;

      transition: all 0.1s linear;

      &:hover {
        background: #4aae9b;
        color: #fff;
        border: 1px solid #4aae9b;
      }
    }
  }
}
</style>
