<template>
  <transition name="table">
    <div class="weather-data" v-if="forecastRetrieved">
      <div class="table-wrapper">
        <h2>{{ location.placeName }}</h2>
        <table>
          <tbody>
            <tr>
              <th>Time</th>
              <th>Low Clouds</th>
              <th>Middle Clouds</th>
              <th>High Clouds</th>
            </tr>

            <template v-if="printHour(forecast.weatherData[0].hour) !== '0'">
              <tr>
                <td
                  class="date-row"
                  height="5"
                  colspan="100%"
                >{{ printDate(forecast.weatherData[0].hour) }}</td>
              </tr>
            </template>

            <template v-for="data in forecast.weatherData">
              <template v-if="printHour(data.hour) === '0'">
                <tr>
                  <td class="date-row" height="5" colspan="100%">{{ printDate(data.hour) }}</td>
                </tr>
                <tr>
                  <td>{{ printHour(data.hour) }}</td>
                  <td>{{ data.lowClouds }}</td>
                  <td>{{ data.mediumClouds }}</td>
                  <td>{{ data.highClouds }}</td>
                </tr>
              </template>

              <tr v-else>
                <td>{{ printHour(data.hour) }}</td>
                <td>{{ data.lowClouds }}</td>
                <td>{{ data.mediumClouds }}</td>
                <td>{{ data.highClouds }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </transition>
</template>

<script>
import WeatherService from "../services/WeatherService";
import moment from "moment-timezone";

export default {
  data() {
    return {
      forecast: [],
      forecastRetrieved: false,
      today: "",
      tomorrow: "",
      twoDaysFromNow: ""
      // firstHour: printHour(forecast.weatherData[0].hour)
    };
  },
  props: ["location"],
  watch: {
    location() {
      let lat = Number(this.location.latitude);
      let long = Number(this.location.longitude);

      this.forecast = new WeatherService(lat, long);
      this.forecastRetrieved = true;

      this.getDate();
    }
  },
  methods: {
    getDate() {
      const day = new Date();
      this.today = this.printDate(day);

      const tomorrow = new Date();
      tomorrow.setDate(day.getDate() + 1);
      this.tomorrow = this.printDate(tomorrow);

      const twoDaysFromNow = new Date();
      twoDaysFromNow.setDate(tomorrow.getDate() + 1);
      this.twoDaysFromNow = this.printDate(twoDaysFromNow);
    },
    printDate(day) {
      const tz = this.location.timeZone;
      const date = moment(day)
        .tz(tz)
        .format("LL");

      return date;
    },
    printHour(string) {
      const tz = this.location.timeZone;
      const hour = moment(string)
        .tz(tz)
        .format("H");

      return hour;
    }
  }
};
</script>

<style lang="scss">
@import "../sass/mixins";

.weather-data {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
  max-width: 476px;
  position: relative;

  .table-wrapper {
    margin: 20px;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }

  table {
    @media (min-width: 478px) {
      width: 436px;
    }
  }

  th {
    border-right: 1px solid #adadad;
    padding: 3px 7px;
    vertical-align: middle;
    font-weight: bold;
  }

  th:last-child {
    border-right: none;
  }

  td {
    border-right: 1px solid #adadad;
    padding: 3px 5px;
  }

  td:last-child {
    border-right: none;
  }

  tr:nth-child(odd) {
    background: #f6f6f6;
  }

  tr:first-child {
    background: #fff;
  }

  tr {
    text-align: center;
  }

  .date-row {
    font-size: 12px;
    background-color: #d6d6d6;
    text-transform: uppercase;
  }

  .table-enter-active,
  .table-leave-active {
    transition: opacity 0.5s;
  }

  .table-enter {
    opacity: 0;
  }
}
</style>
