<template>
  <div class="app">
    <div class="main">
      <app-location-type-ahead @getLocation="updateLocation($event)"></app-location-type-ahead>
      <app-location-buttons @getLocation="updateLocation($event)" :location="location"></app-location-buttons>
      <app-weather-content :location="location"></app-weather-content>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import LocationButtons from "./components/LocationButtons.vue";
import WeatherContent from "./components/WeatherContent.vue";
import LocationTypeAhead from "./components/LocationTypeAhead.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    appLocationButtons: LocationButtons,
    appLocationTypeAhead: LocationTypeAhead,
    appWeatherContent: WeatherContent,
    appFooter: Footer
  },

  data() {
    return {
      location: []
    };
  },
  methods: {
    updateLocation(location) {
      this.location = location;
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import "./sass/reset";
@import "./sass/mixins";

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: #1f1f1f;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;

  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }
}

* {
  box-sizing: border-box;
}
</style>
